In [1]:
import numpy as np
import pandas as pd

In [2]:
X_train=pd.read_csv("Xtrain.csv")

In [3]:
X_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,43,0,2,122,213,0,1,165,0,0.2,1,0,2
1,66,0,2,146,278,0,0,152,0,0.0,1,1,2
2,58,1,2,140,211,1,0,165,0,0.0,2,0,2
3,63,0,0,124,197,0,1,136,1,0.0,1,0,2
4,57,1,1,154,232,0,0,164,0,0.0,2,1,2

In [4]:
X_test=pd.read_csv("Xtest.csv")

In [5]:
y_train=pd.read_csv("Ytrain.csv")

In [6]:
y_test=pd.read_csv("Ytest.csv")

In [7]:
y_train = y_train.squeeze()
y_test=y_test.squeeze()

In [10]:
X=pd.read_csv("X.csv")

In [11]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [12]:
Y=pd.read_csv("Y.csv")

In [13]:
Y.head()

   target
0       1
1       1
2       1
3       1
4       1

In [14]:
Y=Y.squeeze()

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

### Build Logistic Regression with Hyperparameter

In [16]:
logModel = LogisticRegression()

In [17]:
param_grid = [    
    {'penalty' : ['l1', 'l2', 'elasticnet', 'none'],
    'C' : np.logspace(-4, 4, 20),
    'solver' : ['lbfgs','newton-cg','liblinear','sag','saga'],
    'max_iter' : [100, 1000,2500, 5000]
    }
]

In [18]:
from sklearn.model_selection import GridSearchCV

In [19]:
clf = GridSearchCV(logModel, param_grid = param_grid, cv = 3, verbose=True, n_jobs=-1)

In [20]:
best_clf = clf.fit(X,Y)

Fitting 3 folds for each of 1600 candidates, totalling 4800 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done 920 tasks      | elapsed:   10.5s
[Parallel(n_jobs=-1)]: Done 2717 tasks      | elapsed:   26.3s
[Parallel(n_jobs=-1)]: Done 3992 tasks      | elapsed:   41.2s
[Parallel(n_jobs=-1)]: Done 4785 out of 4800 | elapsed:   52.0s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done 4800 out of 4800 | elapsed:   52.8s finished
C:\Users\nites\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [21]:
best_clf.best_estimator_

LogisticRegression(C=1.623776739188721)

Check Accuracy

In [22]:
print (f'Accuracy - : {best_clf.score(X,Y):.3f}')

Accuracy - : 0.855

#### Basic Logistic Regression

In [23]:
lr = LogisticRegression()

In [24]:
lr.fit(X_train,y_train)

C:\Users\nites\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [25]:
Y_pred_lr = lr.predict(X_test)

In [26]:
Y_pred_lr.shape

(61,)

In [27]:
score_lr = round(accuracy_score(Y_pred_lr,y_test)*100,2)

In [28]:
print("The accuracy score achieved using Logistic Regression is: "+str(score_lr)+" %")

The accuracy score achieved using Logistic Regression is: 85.25 %

##### Accuracy is 85.2%