In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score

In [3]:
import os
print(os.path.abspath("."))

C:\Users\nites\Desktop\project2023

In [4]:
X_train=pd.read_csv('Xtrain.csv')

In [5]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,43,0,2,122,213,0,1,165,0,0.2,1,0,2
1,66,0,2,146,278,0,0,152,0,0.0,1,1,2
2,58,1,2,140,211,1,0,165,0,0.0,2,0,2
3,63,0,0,124,197,0,1,136,1,0.0,1,0,2
4,57,1,1,154,232,0,0,164,0,0.0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,43,1,0,132,247,1,0,143,1,0.1,1,4,3
238,54,1,0,120,188,0,1,113,0,1.4,1,1,3
239,56,1,3,120,193,0,0,162,0,1.9,1,0,3
240,47,1,2,138,257,0,0,156,0,0.0,2,0,2
241,58,1,1,120,284,0,0,160,0,1.8,1,0,2

In [6]:
X_test=pd.read_csv("Xtest.csv")

In [7]:
X_test.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,70,1,0,145,174,0,1,125,1,2.6,0,0,3
1,64,1,3,170,227,0,0,155,0,0.6,1,0,3
2,59,1,3,170,288,0,0,159,0,0.2,1,0,3
3,60,1,0,125,258,0,0,141,1,2.8,1,1,3
4,62,1,2,130,231,0,1,146,0,1.8,1,3,3

In [8]:
y_train=pd.read_csv("Ytrain.csv")

In [9]:
y_train.head()

   target
0       1
1       1
2       1
3       0
4       0

In [10]:
y_test=pd.read_csv("Ytest.csv")

In [11]:
y_test.head()

   target
0       0
1       1
2       0
3       0
4       1

In [12]:
y_train = y_train.squeeze()
y_test=y_test.squeeze()

In [13]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()

In [14]:
nb.fit(X_train,y_train)

GaussianNB()

In [15]:
Y_pred_nb = nb.predict(X_test)

In [16]:
Y_pred_nb.shape

(61,)

In [17]:
score_nb = round(accuracy_score(Y_pred_nb,y_test)*100,2)

In [18]:
print("The accuracy score achieved using Naive Bayes is: "+str(score_nb)+" %")

The accuracy score achieved using Naive Bayes is: 85.25 %

In [19]:
import joblib

In [29]:
joblib.dump(nb, 'naiveBayes_model.joblib')

['naiveBayes_model.joblib']

In [28]:
a= 1+nb.predict([[1,2,1,1,1,1,1,1,1,1,1,1,1]])

In [30]:
if(a==1):
    print(a)

[1]